/* Header */
/* Search Bar */
.autoCompleteOuterContainer {
    border-bottom: 1px solid white;
}
.searchBarIcon {
    color: white;
    margin-right: 0;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    border: none;
}
.searchBarContainer :global(.vtex-input__suffix) {
    background-color: transparent;
}

/* Slider Layout */
.imageElement {
    border-radius: 30px;
}

/* Product price */
.listPrice {
    color: #DB5353;
}
.sellingPrice {
    color: #59fd00;
}
.installmentsPrice {
    color: rgb(128, 128, 128);
}
.discountInsideContainer {
    border-radius: .5rem;
}

/* Minicart */
.productBrand {
    color: white;
}