.flexRow {
    background-color: #212121;
    box-shadow: 0 0 10px #212121;
}

.flexRow--slider {
    background-color: transparent;
    box-shadow: none;
    max-width: 800px;
    margin: 1.5rem auto 0 auto;
}

.flexRow--tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.flexRowContent--mobile-main {
    justify-content: space-between;
}

.flexRowContent--minicart {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: red !important;
}

.flexRow--minicart {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: red !important;
}

.flexRow--product-main {
    background-color: transparent;
    box-shadow: none;
}

.flexRow--product-image {
    box-shadow: none;
}

.flexRow--product-name {
    background-color: transparent;
    box-shadow: none;
}