.flexRow {
    background-color: #212121;
    box-shadow: 0 0 10px #212121;
}

/* Slider Layout */
.flexRow--slider {
    background-color: transparent;
    box-shadow: none;
    max-width: 800px;
    margin: 1.5rem auto 0 auto;
}

.flexRow--tabs {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.flexRowContent--mobile-main {
    justify-content: space-between;
}