.container {
    max-width: 800px;
    margin: 1rem auto;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: -10px;
}

@media (max-width: 860px) {
    .container {
        margin: 1rem 5%;
    }
}
