.container {
    position: relative;
    width: 300px;
    min-height: 500px; /* change to fit-content */
    background-color: #505050;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem .5rem;
}

.stars {
    color: rgba(243, 214, 51, 0.945);
    position: absolute;
    top: 10px;
    right: 10px;
}

.starIcon {
    font-size: 1.1rem;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.imgContainer img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.info {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 1rem 0;
}

.info p {
    position: relative;
    margin: 0;
    padding: 0.2rem;
    text-align: center;
}

.info p:first-child {
    color: black;
    background-color: #14ff00;
}

.info p:last-child { /* Preço */
    background-color: black;
    color: #14ff00;
    font-size: 1.3rem;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDetalhes {
    position: absolute;
    bottom: 1rem;
    background-color: #14ff00;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: opacity 0.15s linear;
}
.btnDetalhes:hover {
    opacity: 0.7;
}
